.App {
  text-align: center;
  background: #202020 !important;
  position: relative;
}
/* Navbar.css */

.navbar {
  padding: 15px;
  padding-top: 50px;
  padding-left: 10px;
  color: #FFF;
  font-size: 17px;
font-weight: 300;
  float: left;
  position: fixed;
  overflow:'hidden';
  background-color: #202020;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  background: #202020;
}

.navbar a:hover {
  text-decoration: underline;
}
.logo-adjuster{
  width: 100%;
  transition: transform 0.3s ease; 
  padding-top: 450px;
  position: relative;
}
.logo-adjuster.minimized {
  transform: scale(0.5); /* Adjust the scale factor as needed */
}


.section-1{
  color: #FFF;
  margin-bottom:20px ;
text-align: center;
font-family: 'Poppins';
font-size: 128px;
font-style: normal;
font-weight: 250;
line-height: 139px; /* 108.594% */
}


